@page
@model ASPNET360SIte.Pages.FloorPlans.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>FloorPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FloorPlan.ID" />
            <div class="form-group">
                <label asp-for="FloorPlan.FloorPlanLabel" class="control-label"></label>
                <input asp-for="FloorPlan.FloorPlanLabel" class="form-control" />
                <span asp-validation-for="FloorPlan.FloorPlanLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorPlan.CustomPropertyID" class="control-label"></label>
                <input asp-for="FloorPlan.CustomPropertyID" class="form-control" />
                <span asp-validation-for="FloorPlan.CustomPropertyID" class="text-danger"></span>
            </div>
            @* original
            <div class="form-group">
            <label asp-for="FloorPlan.MainImagePath" class="control-label"></label>
            <input asp-for="FloorPlan.MainImagePath" class="form-control" />
            <span asp-validation-for="FloorPlan.MainImagePath" class="text-danger"></span>
            </div>
            *@

            <div class="form-group">
                <label asp-for="FloorPlan.MainImagePath" class="control-label"></label>
                <input asp-for="FloorPlan.MainImagePath" class="form-control" />
                <span asp-validation-for="FloorPlan.MainImagePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FloorPlan.MainImage" class="control-label"></label>
                <input asp-for="FloorPlan.MainImage" class="form-control" type="file" accept="image/*" />
                <span asp-validation-for="FloorPlan.MainImage" class="text-danger"></span>
            </div>

            @if (Model.FloorPlan.MainImagePath != null)
            {
                <div class="form-group">
                    Existing Image:
                    <img src="/uploads/@Model.FloorPlan.MainImagePath" />
                </div>
            }
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
